* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contactFormWrapper {
    --first-color: white;
    background-image: url("./../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    min-height: 100vh;
    padding: 5vh 5vw;
    display: flex;
    align-items: center;
}

.contactForm {
    box-shadow: 0 0 20px 0 rgba(0,0,0,1);
    width: 100%;
    font-family: sans-serif;
    color: var(--first-color);
    padding: 8vh 2vw;
    max-width: 1200px;
    margin: auto;
}

.contactForm, .submitButton {
    background: transparent;
}

.formName {
    font-size: 2em;
}

.formDescription {
    margin: 2em 0 2.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userFormSection, .input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text > *, .submitButton {
    cursor: pointer;
}

.text {
    min-width: 140px;
    margin: 0.8em 0;
}

.input, .input > * {
    flex-grow: 1;
}

.input > *, .submitButton {
    padding: 1em 1.2em;
}

.input > * {
    min-width: 120px;
    background: var(--first-color);
    border: none;
    margin: 0.5em 0;
}

.input > input + input {
    margin-left: 1.5em;
}

.contactForm:first-letter, .contactForm div:first-letter, .submitButton {
    text-transform: uppercase;
}

.contactForm input::placeholder {
    color: #e1e1e1;
}

.line {
    margin-top: 0.5em;
}

.submitButton {
    margin: 1em 0 1em auto;
    border: 2px solid var(--first-color);
    color: var(--first-color);
    display: table;
    font-weight: bold;
    width: 100%;
}
