* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contactFormWrapper {
    background-image: url("./../images/background.jpg");
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /*height: 100%;*/
    padding: 5vh 5vw;
    display: flex;
    align-items: center;
}

.contentForm {
    background: transparent;
    box-shadow: 0 0 20px 0 rgba(0,0,0,1);
    width: 100%;
    font-family: sans-serif;
    color: white;
    padding: 8vh 2vw;
    max-width: 1200px;
    margin: auto;
}

.formName {
    font-size: 2em;
}

.formDescription {
    margin: 2em 0 2.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userFormSection {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.text > *, .submitButton {
    cursor: pointer;
}

.text {
    width: 20%;
    padding-top: 0.8em;
}

.input {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.input > *, .submitButton {
    padding: 1em 1.2em;
}

.input > * {
    width: 100%;
}

.input > input + input {
    margin-left: 1.5em;
}

.contentForm:first-letter {
    text-transform: uppercase;
}
/*===================================*/
.contentForm div:first-letter {
    text-transform: uppercase;
}

.contentForm input::placeholder {
    color: #e1e1e1;
}
/*====================================*/
.submitButton {
    margin: 1em 0 1em auto;
    background: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    display: table;
    font-weight: bold;
}